/* *{
  background-color: black;
} */

.maisn {
  width: 100%;
  height: 500px;
  color: #fff;
}
.contact-form {
  /* padding-top: 100px; */
  width: 80%;
  margin: 0 auto;
  height: 400px;
  
  display: flex;
  color: black;
  flex-direction: column;
  align-items: center;
}
.contact-form > input{
   color: gray;
   font-weight: 700;
}
.contact-form > textarea {
  width: 50%;
  text-align: center;
  justify-content: center;
  color: gray;
   font-weight: 700;
}
.apple {
  height: 50px;
  padding: 5px;
  width: 50%;
  text-align: center;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
  border: none;
  border-radius: 16px 0 16px 0;
  color: var(--clr-gold);
  background-color: turquoise;
  color: black;

}
.apple:hover{
    background-color: white;
}

.btn {
  margin-top: 50px;
  width: 69px;
  outline: none;
  border: none;
  height: 30px;
  background-color: turquoise;
  color: white;
  border-radius: 16px;
}

.btn:hover {
  background-color: white;
  color: turquoise;
}

.imagine > img{
   object-fit: contain;
   width: 300px;
   margin-left: 150px;
   margin: 0;
   
}
.contact-form >h1{
    color: white;
    font-size: 30px;
    color: turquoise;
}
.maisn{
    display: flex;
    flex-direction: column;
}